name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  CARGO_TERM_COLOR: always
jobs:
  validating:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        run: sudo apt update && sudo apt -y install chafa
      - uses: actions/checkout@v6
      - name: format
        run: cargo fmt --check --verbose
      - name: building
        run: cargo build --verbose
      - name: testing
        run: cargo test --verbose


