name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  CARGO_TERM_COLOR: always
jobs:
  validating:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        run: sudo add-apt-repository ppa:hpjansson/chafa && sudo apt update && sudo apt -y install chafa pkg-config libglib2.0-dev

      - uses: actions/checkout@v6

      - name: format
        run: cargo fmt --check --verbose

      - name: building
        run: cargo build --verbose

      - name: testing
        run: cargo test --verbose


